router-outlet
wiz-portal-season-modal
div(*ngIf="service.status.loading", class="fixed w-full h-full top-0 left-0 z-50 flex justify-center items-center bg-black/20 backdrop-blur-md")
    wiz-portal-season-loading-season(className="w-12 h-12 text-orange-500 animate-spin duration-700")